<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributor Dashboard</title>
    <link rel="stylesheet" href="style/style-main.css">
    <link rel="stylesheet" href="style/contributor-home.css">
</head>

<body>
    <div class="main-container">
        <div class="container">
            <div class="left-sidebar">
                <div class="contributor-profile">
                    <img src="images/user.png" alt="user image" class="contributor-img">
                    <label class="contributor-name">Yogesh Kumar</label>
                </div>
                <div class="menu-list">
                    <ul class="list">
                        <li class="list-items">My Dashboard</li>
                        <li class="list-items">Account</li>
                        <li class="list-items">Chats</li>
                        <li class="list-items">Donation</li>
                        <li class="list-items">Support</li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <div class="header">
                    <div class="greeting">
                        <h2 class="welcome-text">project name</h2>
                        <p class="welcome">hello user.name and welcome to project.nanme</p>
                    </div>
                    <div class="my-account">
                        <div class="avtar avatar-online">
                            <img src="images/user.png" alt="" class="contributor-avtar">                           
                        </div>
                    </div>
                </div>
                <div class="chat-room">
                    <p class="chat-info"></p>
                    <form action="/" method="post">
                        <input class="button" type="submit" value="Chat Room" name="submit" />
                      </form>
                </div>
                <div class="user-requests">
                    
                    <div class="users">
                        <div class="user-image">
                            <img src="images/user.png" alt="user image" class="user-img">
                        </div>
                        <div class="user-info">
                            <h3 class="user-name">
                                Aman Kumar
                            </h3>
                        </div>
                        <div class="message">
                            <button>Message</button>
                        </div>
                    </div>
                    <div class="users">
                        <div class="user-image">
                            <img src="images/user.png" alt="user image" class="user-img">
                        </div>
                        <div class="user-info">
                            <h3 class="user-name">
                                Aman Kumar
                            </h3>
                        </div>
                        <div class="message">
                            <button>Message</button>
                        </div>
                    </div>
                    <div class="users">
                        <div class="user-image">
                            <img src="images/user.png" alt="user image" class="user-img">
                        </div>
                        <div class="user-info">
                            <h3 class="user-name">
                                Aman Kumar
                            </h3>
                        </div>
                        <div class="message">
                            <button>Message</button>
                        </div>
                    </div>
                    <div class="users">
                        <div class="user-image">
                            <img src="images/user.png" alt="user image" class="user-img">
                        </div>
                        <div class="user-info">
                            <h3 class="user-name">
                                Aman Kumar
                            </h3>
                        </div>
                        <div class="message">
                            <button>Message</button>
                        </div>
                    </div>
                    <div class="users">
                        <div class="user-image">
                            <img src="images/user.png" alt="user image" class="user-img">
                        </div>
                        <div class="user-info">
                            <h3 class="user-name">
                                Aman Kumar
                            </h3>
                        </div>
                        <div class="message">
                            <button>Message</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>