@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Noto Sans,Roboto,Ubuntu,Helvetica,sans-serif, 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.675;
    text-transform: none;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    margin-bottom: 1.5em;
    text-transform: capitalize;
}

h1,h2,h3,h4,h5,h6 {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: 500;
    text-transform: capitalize;
}

pre {
    background: rgba(0,0,0,.05);
    font-family: inherit;
    font-size: inherit;
    line-height: normal;
    margin-bottom: 1.5em;
    padding: 20px;
    overflow: auto;
    max-width: 100%
}

blockquote {
    border-left: 5px solid rgba(0,0,0,.05);
    padding: 20px;
    font-size: 1.2em;
    font-style: italic;
    margin: 0 0 1.5em;
    position: relative
}

blockquote p:last-child {
    margin: 0
}

table,th,td {
    border: 1px solid rgba(0,0,0,.1)
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.5em;
    width: 100%
}

th,td {
    padding: 8px
}

th {
    border-width: 0 1px 1px 0
}

td {
    border-width: 0 1px 1px 0
}

hr {
    background-color: rgba(0,0,0,.1);
    border: 0;
    height: 1px;
    margin-bottom: 40px;
    margin-top: 40px
}

code,pre {
    font-size: 14px
}

fieldset {
    padding: 0;
    border: 0;
    min-width: inherit
}

fieldset legend {
    padding: 0;
    margin-bottom: 1.5em
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    line-height: 1.2em;

}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: 1.2em;

}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1.2em;

}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h4,h5,h6 {
    margin-bottom: 20px
}

ul,ol {
    margin: 0 0 1.5em 2em
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li {
    list-style-type: none;
    text-transform: capitalize;

}

li>ul,li>ol {
    margin-bottom: 0;
    margin-left: 1.5em
}

span {
    font-size: 14px;
    text-transform: capitalize;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button, .button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}
button:hover, .button:hover{
    border: 1px solid #FF4B2B;
    background: #ffffff;
    color: #252525;
}
img {
    height: auto;
    max-width: 100%;
}