* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #000!important;
  }
  
  .app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background: #000;
  }
  
  .time-select,
  .sound-picker {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
  .time-select button,
  .sound-picker button {
    color: #fff;
    padding: 10px 20px;
    background: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.5s ease;
    margin: 0 0 10px 0;
    opacity: 0.4;
  }

  
  .time-select button:hover {
    background: #eee;
    color: #252525;
  }
  button:hover {
    opacity: 1;
}
  .player-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
  
  
  .player-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
  }
  .player-container svg circle {
    transition: all 0.2s ease-in-out;
  }
  .time-display {
    color: white;
    position: absolute;
    font-size: 50px;
    bottom: 10%;
  }
  img.play {
    width: 30%;
}
img.replay {
  width: 20px;
}
img.play:hover, img.replay:hover{
  cursor: pointer;
}

  video {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -10;
  }
  .select {
    position: relative;
    min-width: 200px;
  }
  .select svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
  }
  .select select {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
  }
  .select select:required:invalid {
    color: #5a667f;
  }
  .select select option {
    color: #223254;
  }
  .select select option[value=""][disabled] {
    display: none;
  }
  .select select:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
  }
  .select select:hover + svg {
    stroke: #07f;
  }
  .sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }
  .vid-container {
    position: absolute;
}
.curveWrap {
  opacity: 0.7;
  width: 150vw;
  height: 100vh;
  position: absolute;
  transform: translateX(-30vw) rotate(0deg);
  will-change: transform;
}
.curveWrap .curve {
  stroke-linecap: round;
  stroke-opacity: 0;
}
.curveWrap .curve path {
  transform-origin: center;
}
.curveWrap .curve path:nth-child(1) {
  stroke-width: 14;
  -webkit-animation: curve 35s linear 1.6s infinite;
          animation: curve 35s linear 1.6s infinite;
}
.curveWrap .curve path:nth-child(6n+1) {
  stroke: #5cbbe7;
}
.curveWrap .curve path:nth-child(6n+2) {
  stroke: #115473;
}
.curveWrap .curve path:nth-child(6n+3) {
  stroke: f4c3bf;
}
.curveWrap .curve path:nth-child(6n+4) {
  stroke: lightblue;
}
.curveWrap .curve path:nth-child(6n+5) {
  stroke: #487e8b;
}
.curveWrap .curve path:nth-child(6n+6) {
  stroke: #03b9bb;
}
.curveWrap .curve path:nth-child(2) {
  stroke-width: 48;
  -webkit-animation: curve 35s linear 3.2s infinite;
          animation: curve 35s linear 3.2s infinite;
}
.curveWrap .curve path:nth-child(6n+1) {
  stroke: rgb(132, 102, 27);
}
.curveWrap .curve path:nth-child(6n+2) {
  stroke: rgb(64, 104, 179);
}
.curveWrap .curve path:nth-child(6n+3) {
  stroke: rgb(85, 120, 34);
}
.curveWrap .curve path:nth-child(6n+4) {
  stroke: lightblue;
}
.curveWrap .curve path:nth-child(6n+5) {
  stroke: rgb(32, 88, 32);
}
.curveWrap .curve path:nth-child(6n+6) {
  stroke: rgb(76, 171, 141);
}
.curveWrap .curve path:nth-child(3) {
  stroke-width: 39;
  -webkit-animation: curve 35s linear 4.8s infinite;
          animation: curve 35s linear 4.8s infinite;
}
.curveWrap .curve path:nth-child(6n+1) {
  stroke: rgb(32, 218, 122);
}
.curveWrap .curve path:nth-child(6n+2) {
  stroke: cornflowerBlue;
}
.curveWrap .curve path:nth-child(6n+3) {
  stroke: rgb(104, 26, 192);
}
.curveWrap .curve path:nth-child(6n+4) {
  stroke: lightblue;
}
.curveWrap .curve path:nth-child(6n+5) {
  stroke: rgb(119, 111, 209);
}
.curveWrap .curve path:nth-child(6n+6) {
  stroke: rgb(128, 0, 109);
}
.curveWrap .curve path:nth-child(4) {
  stroke-width: 19;
  -webkit-animation: curve 35s linear 6.4s infinite;
          animation: curve 35s linear 6.4s infinite;
}
.curveWrap .curve path:nth-child(6n+1) {
  stroke: rgb(150, 122, 50);
}
.curveWrap .curve path:nth-child(6n+2) {
  stroke: rgb(62, 105, 184);
}
.curveWrap .curve path:nth-child(6n+3) {
  stroke: rgb(52, 65, 32);
}
.curveWrap .curve path:nth-child(6n+4) {
  stroke: lightblue;
}
.curveWrap .curve path:nth-child(6n+5) {
  stroke: rgb(42, 97, 42);
}
.curveWrap .curve path:nth-child(6n+6) {
  stroke: olive;
}
@-webkit-keyframes curve {
  50% {
    transform: rotateX(360deg) scaley(1) skewY(8deg);
    stroke-opacity: 1;
  }
}
@keyframes curve {
  50% {
    transform: rotateX(360deg) scaley(1) skewY(8deg);
    stroke-opacity: 1;
  }
}
